.open-one-front{
    width: 200% !important; 
    height: 100% !important;
    transition: .5s;
}

.open-one-back{
    width: 300% !important;
    height: 100% !important;
    z-index: 100 !important;
    margin-left: 200% !important;
    transition: .5s;
}

.open-two-front{
    margin-left: -100% !important;
    width: 200% !important;
    transition: .5s;
}

.open-two-back{
    width: 300% !important;
    height: 100%;
    margin-left: 100% !important;
    transition: .5s;
}


.open-three-front{
    width: 200% !important;
    margin-left: -200% !important;
    transition: .7s;
}

.open-three-back{
    width: 300% !important;
    transition: .5s; 
}

.open-four-front{
    width: 200% !important;
    transition: .7s;
}

.open-four-back{
    width: 300% !important;
    margin-left: -300% !important;
    transition: .5s; 
}

.open-five-front{
    width: 200% !important;
    transition: .7s;
    margin-left: -100% !important;
}

.open-five-back{
    width: 300% !important;
    margin-left: -400% !important;
    transition: .5s; 
}


// ========================================
// SPECIAL EVENTS ANIMATION CLASSES
// ========================================


.open-special-one-back{
    width: 100% !important;
    height: 100% !important;
    margin-top: 200px !important;
    transition: all .3s ease-in-out;
}

.open-special-two-front{
    width: 100%;
    margin-top: -200px;
    height: 100% !important;
    transition: .5s ease-in-out;
}

.zindex{
    z-index: 1000 !important;
}

.event:hover .content-front h4{
    background-color: rgba(rgb(97, 9, 9), .7);
    color: $color-white;
}



// ========================================
// SNOW ANIMATION
// ========================================

.snow{
    width: 100%;
    height: 3500px;
    position: absolute;
    background-image: url(../image/events/snowflakes.png), url(../image/events/snowflakes1.png);
    // z-index: 30000;

    animation-name: snowing;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    
}

@keyframes snowing{
    0%{ background-position: 0px 0px, 500px 0px}
    100%{background-position: 700px 3500px, 230px 3500px}
}