*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Serif Pro', serif;
    background-image: linear-gradient(to bottom, #9AA759,#6A8C61, #3B5B3B);
    background-repeat: no-repeat;
    text-rendering: optimizeSpeed;
}

