*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Serif Pro', serif;
    background-color: $color-blue-dark;

    background-repeat: no-repeat;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

