.heading-primary{
    
    width: 100%;
    margin: 50px auto 50px auto;
    color: #fff;
    background-color: #618762;

    h1{
        font-size: 6rem;
        font-weight: 500;
        margin-bottom: 1px;
        text-align: center;
        padding-top: 10px;
    }

    h2{
        font-size: 6rem;
        font-weight: 500;
        margin-bottom: 1px;
        text-align: center;
        padding-top: 10px;
    }

    h3{
        font-size: 4rem;
        font-weight: 400;
    }

    p{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 20px;
    }
}


.heading-secondary{
    
    
    width: 100%;
    margin: 80px auto 80px auto;
    color: #fff;
    text-align: center;

    h2{
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 1px;
        text-align: center;
    }

    h3{
        font-size: 4rem;
        font-weight: 400;
    }

    p{
        text-align: center;
        font-size: 2rem;
    }
}
.heading-tertiary{
    width: 100%;
    color: #3B5B3B;
    text-align: center;
    

    h3{
        font-size: 3rem;
        margin: 0;
        padding: 15px 20px 20px 20px;

    }

    p{
        font-size: 1.6rem;
        padding: 0px 30px 10px 30px;
        line-height: 150%;
    }
}

.heading-events{

    h4{
    font-size: 2.5rem;
    color: $color-white;
    line-height: 30px;
    font-weight: 400;
    }
}


.content-front{
    height: 30px;
    width: 100%;
    background-color: rgba($color-black, .7);
    position: absolute;
    bottom: 0;
    text-align: center;
    
    h4{
        font-size: 2.5rem;
        color: $color-white;
        line-height: 30px;
        font-weight: 400;
    }
}

    .content-back{
        padding: 20px;
    
        h4{
            font-size: 3rem;
            color: $color-black;
            font-weight: 400;
        }

        p{
            font-size: 1rem;
            line-height: 3rem;
        }
    }

    .closing-icon{
        text-align: right;
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 2rem;
    }

