*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: 'Source Serif Pro', serif;
  background-color: #1e3040;
  background-repeat: no-repeat;
  text-rendering: optimizeSpeed;
  overflow-x: hidden; }

.open-one-front {
  width: 200% !important;
  height: 100% !important;
  transition: .5s; }

.open-one-back {
  width: 300% !important;
  height: 100% !important;
  z-index: 100 !important;
  margin-left: 200% !important;
  transition: .5s; }

.open-two-front {
  margin-left: -100% !important;
  width: 200% !important;
  transition: .5s; }

.open-two-back {
  width: 300% !important;
  height: 100%;
  margin-left: 100% !important;
  transition: .5s; }

.open-three-front {
  width: 200% !important;
  margin-left: -200% !important;
  transition: .7s; }

.open-three-back {
  width: 300% !important;
  transition: .5s; }

.open-four-front {
  width: 200% !important;
  transition: .7s; }

.open-four-back {
  width: 300% !important;
  margin-left: -300% !important;
  transition: .5s; }

.open-five-front {
  width: 200% !important;
  transition: .7s;
  margin-left: -100% !important; }

.open-five-back {
  width: 300% !important;
  margin-left: -400% !important;
  transition: .5s; }

.open-special-one-back {
  width: 100% !important;
  height: 100% !important;
  margin-top: 200px !important;
  transition: all .3s ease-in-out; }

.open-special-two-front {
  width: 100%;
  margin-top: -200px;
  height: 100% !important;
  transition: .5s ease-in-out; }

.zindex {
  z-index: 1000 !important; }

.event:hover .content-front h4 {
  background-color: rgba(97, 9, 9, 0.7);
  color: #f2f2f2; }

.snow {
  width: 100%;
  height: 5725px;
  position: absolute;
  background-image: url(../image/events/snowflakes.png), url(../image/events/snowflakes1.png);
  animation-name: snowing;
  animation-duration: 50s;
  animation-iteration-count: infinite; }

@keyframes snowing {
  0% {
    background-position: 0px 0px, 500px 0px; }
  100% {
    background-position: 700px 5550px, 230px 5550px; } }

.show-nav {
  left: 0 !important;
  transition: all .5s ease-in-out; }

.btn-animation .btnLine-1 {
  transform: translateY(9px) rotate(45deg); }

.btn-animation .btnLine-2 {
  opacity: 0; }

.btn-animation .btnLine-3 {
  transform: translateY(-9px) rotate(135deg); }

.info-event-left {
  grid-column: 1/13;
  width: 100%;
  height: 100%;
  display: none;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  box-sizing: border-box;
  padding: 24px; }
  .info-event-left p {
    font-size: 1.6rem;
    color: #f2f2f2;
    margin-bottom: 30px; }

.info-event-right {
  grid-column: 1/13;
  width: 100%;
  height: 100%;
  display: none;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  box-sizing: border-box;
  padding: 24px; }
  .info-event-right p {
    font-size: 1.6rem;
    color: #f2f2f2;
    margin-bottom: 30px; }

.grid-show {
  display: grid !important; }

.card-expanded {
  box-shadow: none !important; }
  .card-expanded .card__content {
    background-color: transparent !important;
    color: #f2f2f2 !important; }

.line-animation {
  transform: rotate(-180deg) translate(0px, -3px) !important;
  background-color: #f2f2f2 !important; }

.card-right-move {
  grid-row: 3/4 !important; }

.blq {
  display: none; }

.heading-primary {
  width: 100%;
  margin: 50px auto 50px auto;
  color: #fff;
  background-color: #618762; }
  .heading-primary h1 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 10px; }
  .heading-primary h2 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 10px; }
  .heading-primary h3 {
    font-size: 4rem;
    font-weight: 400; }
  .heading-primary p {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px; }

.heading-secondary {
  width: 100%;
  margin: 80px auto 80px auto;
  color: #fff;
  text-align: center; }
  .heading-secondary h2 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 1px;
    text-align: center; }
  .heading-secondary h3 {
    font-size: 4rem;
    font-weight: 400; }
  .heading-secondary p {
    text-align: center;
    font-size: 2rem; }

.heading-tertiary {
  width: 100%;
  color: #3B5B3B;
  text-align: center; }
  .heading-tertiary h3 {
    font-size: 3rem;
    margin: 0;
    padding: 15px 20px 20px 20px; }
  .heading-tertiary p {
    font-size: 1.5rem;
    padding: 0px 30px 10px 30px; }

.heading-events h4 {
  font-size: 2.5rem;
  color: #f2f2f2;
  line-height: 30px;
  font-weight: 400; }

.content-front {
  height: 30px;
  width: 100%;
  background-color: rgba(39, 39, 39, 0.7);
  position: absolute;
  bottom: 0;
  text-align: center; }
  .content-front h4 {
    font-size: 2.5rem;
    color: #f2f2f2;
    line-height: 30px;
    font-weight: 400; }

.content-back {
  padding: 20px; }
  .content-back h4 {
    font-size: 3rem;
    color: #272727;
    font-weight: 400; }
  .content-back p {
    font-size: 1rem;
    line-height: 3rem; }

.closing-icon {
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2rem; }

.card-image-1 {
  height: 200px;
  width: auto; }
  .card-image-1 img {
    height: 200px;
    width: auto; }

.card-content-1__text {
  height: 100px;
  display: block; }

.card-content-1__btn {
  height: 100px;
  position: relative; }
  .card-content-1__btn a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #6A8C61, #3B5B3B);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); }

.btn-hidden {
  visibility: hidden; }

.section-header {
  height: 10rem;
  padding: 0 3rem;
  margin-bottom: 50px;
  background-color: #1e3040;
  color: #f2f2f2; }
  .section-header__content {
    max-width: 153rem;
    margin: 0 auto;
    position: relative; }
    .section-header__content__logo {
      padding: 1rem;
      display: inline-block; }
      .section-header__content__logo img {
        height: 7rem; }
    .section-header__content__nav {
      margin-top: 40px;
      float: right;
      top: 100px; }
      .section-header__content__nav ul {
        list-style: none;
        margin-right: 20px; }
        .section-header__content__nav ul > *:not(:first-child) {
          margin-left: 30px; }
        .section-header__content__nav ul a {
          text-decoration: none;
          color: #f2f2f2;
          letter-spacing: 1px; }
          .section-header__content__nav ul a li {
            display: inline-block;
            font-size: 1.7rem; }
            .section-header__content__nav ul a li:hover {
              color: #bf0404; }
      .section-header__content__nav .hamburgerBtn {
        position: absolute;
        top: 30px;
        right: 0;
        cursor: pointer; }
        .section-header__content__nav .hamburgerBtn .btnLine {
          width: 25px;
          height: 2px;
          background-color: white;
          border-radius: 50px;
          display: block;
          margin-bottom: 7px;
          transition: all .3s ease-in-out; }

footer {
  width: 100%;
  background-color: #3b5b3b; }
  footer .footer-content {
    width: 114rem;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 48px; }
    footer .footer-content__logo {
      margin-bottom: 20px; }
      footer .footer-content__logo img {
        height: 65px;
        width: auto; }
    footer .footer-content__grid {
      width: 100%;
      height: 100% margin  0 auto;
      margin-bottom: 50px;
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: repeat(4, 25%); }
      footer .footer-content__grid--column {
        display: block; }
        footer .footer-content__grid--column p {
          color: #f2f2f2;
          font-size: 1.6rem; }
        footer .footer-content__grid--column a {
          color: #f2f2f2; }
        footer .footer-content__grid--column img {
          margin: 20px 0 40px 0; }
    footer .footer-content__bottom {
      width: 100%;
      height: 100%;
      padding-bottom: 80px;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 55% 45%;
      align-items: end; }
      footer .footer-content__bottom p {
        color: #f2f2f2;
        font-size: 1.6rem; }
        footer .footer-content__bottom p a {
          color: #f2f2f2; }
          footer .footer-content__bottom p a .fab {
            margin-left: 10px; }

.section-hero {
  width: 100%;
  margin: 0 auto;
  height: 45rem;
  position: relative; }
  .section-hero__video {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0 auto;
    position: relative; }
    .section-hero__video--content {
      max-height: 100%;
      min-width: 100%;
      margin: 0 auto;
      object-fit: cover; }
    .section-hero__video .hero-background {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      overflow: hidden; }
      .section-hero__video .hero-background img {
        width: 80vw; }

.section-snow {
  position: fixed;
  z-index: 9000; }
  .section-snow h6 {
    font-size: 6rem;
    color: #FBFCD7;
    text-shadow: 0 0px 6px #1e3040; }
    .section-snow h6:hover {
      cursor: pointer; }

.section-events {
  max-width: 114rem;
  margin: 0 auto;
  margin-top: 100px;
  color: #3B5B3B; }
  .section-events__grid {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12fr);
    grid-gap: 30px; }
    .section-events__grid .card--left {
      grid-column: 1/7; }
    .section-events__grid .card--right {
      grid-column: 7/13; }
    .section-events__grid .card {
      transition: all .2s;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .section-events__grid .card__image {
        height: 296px;
        overflow: hidden; }
        .section-events__grid .card__image img {
          height: 296px;
          width: 100%;
          transform: scale(1.1);
          transition: all .3s; }
          .section-events__grid .card__image img:hover {
            transform: scale(1); }
      .section-events__grid .card__content {
        width: 100%;
        height: 130px;
        background-color: #f2f2f2;
        position: relative;
        padding: 24px;
        box-sizing: border-box;
        cursor: pointer; }
        .section-events__grid .card__content h3 {
          font-size: 2.4rem;
          margin-bottom: 10px; }
        .section-events__grid .card__content p {
          font-size: 1.6rem;
          width: 90%; }
        .section-events__grid .card__content .expand {
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%); }
          .section-events__grid .card__content .expand--line {
            width: 25px;
            height: 3px;
            background-color: #3B5B3B; }
          .section-events__grid .card__content .expand .line-one {
            transform: rotate(90deg) translate(3px, 0px);
            transition: all .5s; }

.section-program {
  width: 100%;
  height: 100%;
  margin: 150px auto 80px auto; }
  .section-program__title {
    background-color: #5b885d;
    padding: 20px 0; }

.section-tickets__title {
  width: 100%;
  background-color: #5b885d;
  margin-bottom: 100px;
  padding: 20px 0; }

.section-tickets {
  max-width: 114rem;
  margin: auto;
  margin-bottom: 150px; }
  .section-tickets__grid {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center; }
    .section-tickets__grid__background {
      width: 100%;
      height: 100%;
      background-color: white;
      justify-self: center;
      position: relative;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.section-gallery__title {
  width: 100%;
  background-color: #4a754c;
  padding: 20px 0; }

.section-gallery {
  max-width: 114rem;
  margin: 0 auto; }
  .section-gallery::-webkit-scrollbar {
    display: none; }
  .section-gallery__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    grid-gap: 30px; }
    .section-gallery__grid--style {
      z-index: 9999; }
      .section-gallery__grid--style img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        object-fit: cover;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); }
    .section-gallery__grid::-webkit-scrollbar {
      display: none; }

.pop-up {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12000;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .pop-up__content {
    width: 80%;
    height: 65vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .pop-up__content img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .pop-up .arrow-back {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%); }
    .pop-up .arrow-back a {
      color: white; }
  .pop-up .arrow-forward {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%); }
    .pop-up .arrow-forward a {
      color: white; }
  .pop-up .closing-tag {
    position: absolute;
    top: 19%;
    right: 11%; }
    .pop-up .closing-tag a {
      color: white; }

.pop-up:target {
  opacity: 1;
  visibility: visible; }
