footer{
    width: 100%;
    background-color: #3b5b3b;

    .footer-content{
        width: 114rem;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 48px;

        &__logo{

            img{
                height: 65px;
                width: auto;
            }

        }
    }
}