.section-hero{
    // width: 95vw;
    max-width: 122rem;
    margin: 0 auto;
    height: 45rem;
    position: relative;

    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr 30px;

    &__video{
        width: 100%;
        height: 100%;
        z-index: -1;

        &--content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.section-snow{
    position: fixed;
    z-index: 9000;
    
    h6{
        font-size: 6rem;
        color: #FBFCD7;
        text-shadow: 0 0px 6px $color-blue-dark;

        &:hover{
            cursor: pointer;
        }
    }
}



.section-events{
    max-width: 114rem;
    margin: 0 auto;
    margin-top: 100px;
    

    &__grid{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: repeat(12*1fr);
        grid-gap: 30px;
        
        .card--left{
            grid-column: 1/7;
        }

        .card--right{
            grid-column: 7/13;
        }

        .card{
            transition: all .2s;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

            &__image{
                
                height: 296px;
                overflow: hidden;

                img{
                height: 296px;
                width: 100%;
                transform: scale(1.1);
                transition: all .3s;

                    &:hover{
                        transform: scale(1);
                    }
                }
            }

            &__content{
                width: 100%;
                height: 140px;
                background-color: $color-white;
                position: relative;
                padding: 24px;
                box-sizing: border-box;
                cursor: pointer;
                

                h3{
                    font-size: 2.4rem;
                    margin-bottom: 4px;
                }

                p{   
                    font-size: 1.6rem;
                    width: 90%;
                }
                .expand{
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    
                    
                    
                    &--line{
                        width: 25px;
                         height: 3px;
                         background-color: black;
                    }

                    .line-one{
                        transform: rotate(90deg) translate(3px, 0px);
                        transition: all .5s;
                    }


                }
            }
        }
    }


}




.section-program{
    width: 100%;
    height: 100%;
    margin: 150px auto 80px auto;

    &__title{
        background-color: #5b885d;
        padding: 20px 0;
        
    }

    &__grid{
        width: 100%;
        height: 100%;


        display: grid;

        grid-template-rows: 1fr;
        grid-template-rows: 50% 1fr;

        grid-gap: 50px;

    }

}

.section-tickets__title{
    width: 100%;
    background-color: #5b885d;
    margin-bottom: 100px;
    padding: 20px 0;
}

.section-tickets{

    width: 114rem;
    margin: auto;
    margin-bottom: 150px;


    &__grid{
        width: 100%;
        height: 400px;
        margin: 0 auto;
        position: relative;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 300px 300px 300px;
        
        grid-gap: 30px;

        justify-content: center;



        &__background{
            width: 100%;
            height: 100%;
            background-color: white;
            justify-self: center;
            position: relative;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        }

    }
}

.section-gallery__title{
    width: 100%;
    background-color: #4a754c;
    padding: 20px 0;
}


.section-gallery{
    width: 114rem;
    margin: 0 auto;

    &__grid{
        width: 100%;
        height: 100%;


        display: grid;

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 31% 31% 31%;
        justify-content: center;

        grid-gap: 30px;

        &--style{
            

            img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                object-fit: cover;
                box-shadow: 0 0px 10px rgba(0,0,0, .2);
            }
        }
    }
}

.pop-up{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    

    &__content{
        width: 80%;
        height: 65vh;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .arrow-back{
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translateY(-50%);

        a{
            color: white;
        }
    }

    .arrow-forward{
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);


        a{
            color: white;
        }
    }

    .closing-tag{
        position: absolute;
        top: 19%;
        right: 11%;

        a{
            color: white;
        }
        
    }


    }



  .pop-up:target{
    opacity: 1;
    visibility: visible;
  }
  