.section-hero{
    // width: 95vw;
    max-width: 122rem;
    margin: 0 auto;
    height: 45rem;
    position: relative;

    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr 30px;

    &__video{
        width: 100%;
        height: 100%;
        z-index: -1;

        &--content{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.section-snow{
    position: fixed;
    z-index: 9000;
    
    h6{
        font-size: 6rem;
        color: #FBFCD7;
        text-shadow: 0 0px 6px $color-blue-dark;

        &:hover{
            cursor: pointer;
        }
    }
}



.section-events{
    max-width: 122rem;
    margin: 0 auto;
    margin-top: 100px;

    &__welcome-text{
        width: 70%;
        margin-bottom: 150px;
    }

    &__events-headings{
        width: 100%;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;

        .daily-program{
            justify-self: left;
        }
        .special-program{
            justify-self: right;
        }

        h3{
            color: $color-white;
            font-size: 4rem;
            font-weight: 400;
        }
    }

    &__events-grid{
        width: 98%;
        margin: 0 auto;
        height: 400px;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 55% 1fr;
        grid-gap: 30px; 

        .daily-events{
            width: 100%;
            height: 100%;
            background-color: white;

            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            &__event1{
                position: relative;
                z-index: 50;

                &--front-side{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/lights2.jpg);
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    transition: .3s ease-in;
                    z-index: 110;


                }

                &--back-side{
                    height: 100%;
                    width: 100%;
                    background-color: coral;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    z-index: -100;
                    overflow: hidden;
                    transition: .5s ease-out;
                }
            }

            &__event2{
                position: relative;
                z-index: 10;
                transition: .5s ease-out;


                &--front-side{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/redcross.jpg);
                    background-position: center;
                    background-size: cover;
                    transition: .3s ease-in;
                    z-index: 20;
                    text-align: center;
                    position: relative;
                }

                &--back-side{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -100;
                    overflow: hidden;
                    transition: .5s ease-out;
                    text-align: center;
                }


            }

            &__event3{
                position: relative;
                z-index: 10;
                transition: .5s ease-out;
                &--front-side{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/pharmacy.jpg);
                    background-position: center;
                    background-size: cover;
                    transition: .3s ease-in;
                    z-index: 20;
                    text-align: center;
                    position: relative;
                }

                &--back-side{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -100;
                    overflow: hidden;
                    transition: .5s ease-out;
                    text-align: center;
                }
                
            }

            &__event4{
                position: relative;
                z-index: 10;
                transition: .5s ease-out;
                &--front-side{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/santa.jpg);
                    background-position: center;
                    background-size: cover;
                    transition: .3s ease-in;
                    z-index: 20;
                    text-align: center;
                    position: relative;
                }

                &--back-side{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -100;
                    overflow: hidden;
                    transition: .5s ease-out;
                    text-align: center;
                }
            }

            &__event5{
                
                position: relative;
                z-index: 10;
                transition: .5s ease-out;

                &--front-side{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/buffet.jpg);
                    background-position: center;
                    background-size: cover;
                    transition: .3s ease-in;
                    z-index: 20;
                    text-align: center;
                    position: relative;
                }

                &--back-side{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -100;
                    overflow: hidden;
                    transition: .5s ease-out;
                    text-align: center;
                }
            }
        }
        
        .special-events{
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;

            &__event1{
                position: relative;
                transition: all .3s ease-in-out;
                

                &--front{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/mette1.jpg);
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    transition: all .3s ease-in-out;
                    z-index: 100;

                }

                &--back{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 80;
                    overflow: hidden;
                    transition: all .3s ease-in-out;
                    text-align: center;
                }


            }

            &__event2{
                width: 100%;
                height: 100%;
                position: relative;
                transition: all .3s ease-out;
                

                &--front{
                    width: 100%;
                    height: 100%;
                    background-image: url(../image/events/choir.jpg);
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    transition: all .3s ease-out;

                }

                &--back{
                    background-color: coral;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -100;
                    overflow: hidden;
                    text-align: center;
                    transition: all .3s ease-out;
                }
            }
        }

    }

}




.section-program{
    width: 100%;
    height: 100%;
    margin: 150px auto 80px auto;

    &__title{
        background-color: #5b885d;
        padding: 20px 0;
        
    }

    &__grid{
        width: 100%;
        height: 100%;


        display: grid;

        grid-template-rows: 1fr;
        grid-template-rows: 50% 1fr;

        grid-gap: 50px;

        // &--calendar{

        // }

        // &--workhours{

        // }
    }

}

.section-tickets__title{
    width: 100%;
    background-color: #5b885d;
    margin-bottom: 100px;
    padding: 20px 0;
}

.section-tickets{

    width: 114rem;
    margin: auto;
    margin-bottom: 150px;


    &__grid{
        width: 100%;
        height: 400px;
        margin: 0 auto;
        position: relative;

        display: grid;

        grid-template-rows: 1fr;
        grid-template-columns: 300px 300px 300px;
        
        grid-gap: 30px;

        justify-content: center;



        &__background{
            width: 100%;
            height: 100%;
            background-color: white;
            justify-self: center;
            position: relative;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        }

    }
}

.section-gallery__title{
    width: 100%;
    background-color: #4a754c;
    padding: 20px 0;
}


.section-gallery{
    width: 114rem;
    margin: 0 auto;

    &__grid{
        width: 100%;
        height: 100%;


        display: grid;

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 30% 30% 30%;

        grid-gap: 30px;

        &--style{
            

            img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                object-fit: cover;
                box-shadow: 0 0px 10px rgba(0,0,0, .2);
            }
        }
    }
}

.pop-up{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    

    &__content{
        width: 80%;
        height: 65vh;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .arrow-back{
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translateY(-50%);

        a{
            color: white;
        }
    }

    .arrow-forward{
        position: absolute;
        top: 50%;
        right: 6%;
        transform: translateY(-50%);


        a{
            color: white;
        }
    }

    .closing-tag{
        position: absolute;
        top: 19%;
        right: 11%;

        a{
            color: white;
        }
        
    }


    }











  .pop-up:target{
    opacity: 1;
    visibility: visible;
  }
  